[Desktop Entry]
Encoding=UTF-8
Name=Barcoin
Comment=Barcoin P2P Cryptocurrency
Comment[fr]=Barcoin, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Barcoin, eşten eşe kriptografik sanal para birimi
Exec=/usr/bin/barcoin-qt %u
Terminal=false
Type=Application
Icon=/usr/share/pixmaps/barcoin128.png
MimeType=x-scheme-handler/barcoin;
Categories=Office; Finance;
