#!/usr/bin/make -f
# -*- mode: makefile; coding: utf-8 -*-

#DEB_MAKE_CHECK_TARGET = test_barcoin
#build/barcoind::
#	$(if $(filter nocheck,$(DEB_BUILD_OPTIONS)),,src/test_barcoin)

DEB_INSTALL_EXAMPLES_barcoind += debian/examples/*
DEB_INSTALL_MANPAGES_barcoind += debian/manpages/*

%:
	dh --with bash-completion $@

override_dh_auto_build:
	cd src; $(MAKE) -f makefile.unix barcoind
	$(MAKE)

override_dh_auto_clean:
	if [ -f Makefile ]; then $(MAKE) clean; else rm -rf build/; rm -f barcoin-qt; fi
	cd src; $(MAKE) -f makefile.unix clean

override_dh_auto_configure:
	qmake bitcoin-qt.pro USE_QRCODE=1

override_dh_auto_test:
	cd src; $(MAKE) -f makefile.unix test_barcoin
	src/test_barcoin

# Ensure wrapper is set executable
binary-post-install/barcoind:
	chmod +x $(cdbs_curdestdir)usr/bin/barcoind
binary-post-install/barcoin-qt:
	chmod +x $(cdbs_curdestdir)usr/bin/barcoin-qt
