[Unit]
Description=Barcoin's distributed currency daemon
After=network.target

[Service]
User=barcoind
Group=barcoind

Type=forking
PIDFile=/var/lib/barcoind/barcoind.pid
ExecStart=/usr/bin/barcoind -daemon -pid=/var/lib/barcoind/barcoind.pid -conf=/etc/barcoind.conf -datadir=/var/lib/barcoind 

Restart=always
PrivateTmp=true

[Install]
WantedBy=multi-user.target
